td:not(.blank){
  border: 2px black solid;
}

td {
  width: 100px;
  height: 100px;
  text-align: center;
}

/*Main Page Layout stuff*/

#board {
  /*margin: auto;*/
}

.center {
  /*text-align: center;*/
}

.col-sm-3 div {
  margin-top: 30px;
  margin-bottom: 30px;
}

/*Different tiles*/

.earth {
  color: #279c04;
  border: 2px #279c04 solid !important;
}

.wind {
  color: #b99608;
  border: 2px #b99608 solid !important;
}

.fire {
  color: red;
  border: 2px red solid !important;
}
.ocean {
  color: blue;
  border: 2px blue solid !important;
}

.flooding {
  animation: floodingTile 1.5s 2;
  background-color: #c7c7ff;
}

@keyframes floodingTile {
  0% {background-color: #c7c7ff;}
  50% {background-color: white}
  100% {background-color: #c7c7ff}
}

.players {
  width: 100%;
  height: 20%;
}

/*UI CSS*/

.current {
  text-decoration: underline;
}

.nameColor {
  display: inline-flex;
}

.eCard{
  color: #279c04;
}

.wCard {
  color: #b99608;
}

.fCard {
  color: red;
}

.oCard {
  color: blue;
}

/*Classes of the player icons on the board*/
/*All references of 'nav' changed to 'navi' to avoid confusion w/ Bootstrap 'nav'*/
.mess, .expl, .engi, .pilo, .dive, .navi {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  display: inline-flex;
}


.mess {
  background-color: black;
}

.expl {
  background-color: green;
}

.engi {
  background-color: red;
}

.pilo {
  background-color: blue;
}

.dive {
  background-color: grey;
}

.navi {
  background-color: yellow;
}
