td:not(.blank){
  border: 2px black solid;
}

td {
  width: 100px;
  height: 100px;
  text-align: center;
}

#board {
  position: relative;
  left: 20%;
}

.earth {
  color: #279c04;
  border: 2px #279c04 solid !important;
}

.wind {
  color: #b99608;
  border: 2px #b99608 solid !important;
}

.fire {
  color: red;
  border: 2px red solid !important;
}
.ocean {
  color: blue;
  border: 2px blue solid !important;
}

.flooding {
  background-color: #c7c7ff;
}

.players {
  width: 100%;
  height: 20%;
}

.mes, .exp, .eng, .pil, .div, .nav {
  width: 20px;
  height: 20px;
  border-radius: 100%;
}

.mes {
  background-color: green;
}

.exp {
  background-color: black;
}

.eng {
  background-color: orange;
}

.pil {
  background-color: blue;
}

.div {
  background-color: red;
}

.nav {
  background-color: purple;
}
